.chat-page {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 33%;
}

.left-column {
  flex: 1;
  padding: 20px;
  border-right: 1px solid black;
  overflow-y: auto;
}

.chat-list-elem{
  display: block;
  padding: 0.5rem;
}