.message-page {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 66%; /* Changed width to 66.5% */
}

.right-column {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.flex{
  display: flex;
}

.justify {
  justify-content: space-between;
}

.w-100{
  width:100%;
}
.flex-col{
  flex-direction: column;
}

.left-align {
  margin-right: auto;
}

.right-align {
  margin-left: auto;
}
